
:root {
  --background-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --button-color: #F5F4FA ;
  --main-text : #212121;
  --button-text-color : #FFFFFF;
  --color-description: #757575;
  --img-backgroung-color :#EEEEEE;
  --logotype-color: #000000;
  --info-color: #2196F3;
  --shadow-color: #ECECEC;


  }

